<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Detail - @Model.NoteTitle</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <label>Title :  </label>@Model.NoteTitle
                </div>

                <div class="card-body">
                    @Html.Raw(Model.NoteContents)
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-controller="Forum" asp-action="Index">List</a>
                </div>
        </div>
    </div>
</div>
